@import "tailwindcss";
@import "tw-animate-css";

/* globals.css */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111827; /* Tailwind's bg-gray-900 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind's gray-600 */
  border-radius: 6px;
  border: 2px solid #111827;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* gray-500 */
}
